<div class="container">
  <%= render partial: "layouts/breadcrumb", locals: { previus_message: "Volver al usuario", previus: @user, current: "Editar usuario" } %>
</div>

<div class="container">
    <h2>Editar</h2>
    
    <%= render 'form', user: @user %>
    
    <%= link_to 'Ver usuario', @user, class: "link-basic" %> |
    <%= link_to 'Ver listado de usuarios', users_path, class: "link-basic" %>
</div>