<div class="container">
  <%= render partial: "layouts/breadcrumb", locals: { previus_message: "Volver al listado", previus: root_path, current: "Nuevo usuarios" } %>
</div>

<div class="container">
    <h2>Nuevo Usuario</h2>
    
    <%= render 'form', user: @user %>
    
    <%= link_to 'Regresar', users_path, class: "link-basic" %>
</div>

