<footer>
  <div class="container">
    <div class="d-flex space-between">
      <p>Enrique Gonzalez N</p>
      <p>enrique.gonzan@gmail.com</p>
      <p>Tel.: 771 240 5072</p>
    </div>
  </div>
</footer>