<nav class="navbar">
  <div class="container">
    <div class="nav-container">
      <div class="title">
        <h2>
          Mercately Challenge
        </h2>
      </div>
      <div class="nav-items">
        <a href="/shop" class="nav-item">Comprar</a>
        <a href="/products" class="nav-item">Inventario</a>
        <a href="/carts" class="nav-item">Mis pedidos</a>
        <a href="/carts/<%= 1 %>" class="nav-item">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="products-q">3</span>
        </a>
      </div>
    </div>
  </div>
</nav>
