<nav class="navbar">
  <div class="container">
    <div class="nav-container">
      <div class="title">
        <h2>
          Mercately Challenge
        </h2>
      </div>
      <div class="nav-items">
        <a href="#" class="nav-item">Productos</a>
        <a href="#" class="nav-item">Mi perfil</a>
        <a href="#" class="nav-item">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="products-q">3</span>
        </a>
      </div>
    </div>
  </div>
</nav>
